.top_nav {
	// Display & Box Model
	width: 100%;
	height: 50px;

	// Color
	background: #1e1e27;
}

.top_nav_left {
	// Display & Box Model
	height: 50px;

	// Text
	line-height: 50px;
	font-size: 13px;
	text-transform: uppercase;

	// Color
	color: #b5aec4;
}
